// -----------------------------------------------------------------------------
// Variables

$font-roboto: Roboto, Arial, Helvetica, sans-serif;

$red: red;

// -----------------------------------------------------------------------------
// Mixins

.copy
   font-family: $font-roboto
   font-size:   1em
   line-height: 2.3ex
   color:       rgba(0, 0, 0, 0.8)

/* ---- GLOBAL -------------------------------------------------------------- */

// ----------------------------------------------
// Reset

html
   box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

div, section, header, main, nav, article, footer,
ul, ol, li,
span,
p,
h1, h2, h3, h4, h5, h6,
i, img,
table, thead, tbody,
   margin:  0
   padding: 0

body
   background-size: 100%

address
   font-style: normal

// ----------------------------------------------
// Custom



// -----------------------------------------------------------------------------
//

/* ---- COMPONENTS ---------------------------------------------------------- */

/* ---- Button --------------------  */

/* default */
.button
   display:       inline-block
   color:         white
   text-align:    center
   border-radius: .2em
   padding:       0.6em 0.8em
   background:    #008cff
   font-family:   $font-roboto

   &:hover
      background: #008cfa


/* ---- Menu ----------------------- */

#TopMenuContainer
   display:       block
   height:        60px
   padding-top:   .5em
   padding-right: 3px
   padding-left:  3px
   box-shadow:    0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23)
   background:    #ECEFF1

   .nav
      display:         flex
      justify-content: space-between
      font-family:     $font-roboto
      font-size:       1em
      max-width:       85%
      margin-left:     5%
      margin-right:    5%
      border-radius:   2px
      box-shadow:      0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23)

      .left-logo
         display:       flex
         font-size:     1.5em
         align-items:   baseline
         padding-left:  0
         margin-left:   0

         a
            padding-left:  0
            margin-left:   0
            color:         black

            i
               font-size:     1em
               margin-right:  0.2em
               padding-left:  0.3em
               color:         black
            span
               padding-left:  .5em
               font-family:   Ariel
               font-style:    bold, italic
               color:         black
               text-size:     16px

         .active
            border-bottom: 1px solid darken(red, 20%)

      .right-menu
         display:          flex
         flex-direction:   row
         font-size:        1.3em
         align-items:      center

      // every item on menu
      .item
         display:          flex
         align-items:      center
         text-decoration:  none
         padding:          0.3em
         margin-left:      1px
         color:            lighten(black, 20%)
         border-bottom:    1px solid transparent

         &.inactive:hover
            border-bottom: 1px solid darken(red, 20%)


/* ---- Hero Image ----------------------- */

/* ---- Footer --------------------------- */
footer
   display: flex
   background: #f6f6f6
   address ul li a
      text-decoration:  none
      color:            blue

   .table
      display: table

      .row
         display: table-row

      .cell
         display: table-cell
         padding-right: 1em
         text-align: right

/* ---- Table ---------------------------- */
